################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Frontend/.vs
/Articulos-Backend.csproj.user
/obj
/Frontend/Articulos-Frontend/obj/Debug/net10.0-windows
/Frontend/Articulos-Frontend/obj
/Frontend/Articulos-Frontend/bin/Debug/net10.0-windows
